input{
    width: 300px;
    height: 40px;
    background:transparent;
    border: 2px solid rgb(66, 205, 66);
    color: #fff;
    text-align: center;
    position: relative;
    left: 40%;
    top: 30px;
    border-radius: 7px;
}

.submit{
    width: 300px;
    background-color: rgb(53, 194, 53);
    height: 40px;
    border: 2px solid rgb(52, 174, 52);
    border-radius: 7px;
    position: relative;
    left:40%;
    top: 30px;
}

.submit:hover{
    background-color:transparent;
    color: #fff;

}